{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}

<div class="container text-center">
    <h1>Sign in</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(for="username", class="form-label") }}
            {{ form.username(class="form-control", id="username", placeholder="John Wick") }}
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            {{ form.password.label(for="password", class="form-label") }}
            {{ form.password(class="form-control", id="password") }}
        </div>

        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
<hr>

{% endblock content %}
