{% extends 'base.html' %}

{% block title %}Register User{% endblock title %}

{% block content %}

<div class="container text-center">
    <h1>Register a user!</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(for="username", class="form-label") }}
            {{ form.username(class="form-control", id="username", placeholder="John Wick") }}
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            {{ form.email.label(for="email", class="form-label") }}
            {{ form.email(class="form-control", placeholder="someone@abc.com") }}
        </div>
        <div class="mb-3">
            {{ form.password1.label(for="password", class="form-label") }}
            {{ form.password1(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password2.label(for="confirm_password", class="form-label") }}
            {{ form.password2(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.user_type.label(for="user_type", class="form-label") }}
            {{ form.user_type(class="form-control", placeholder="Admin, Student, Teacher") }}
        </div>

        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
<hr>

{% endblock content %}
